body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../images/cedarpoint.png");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container{
  padding-top: 65px; 
}

#coasters {
  background: rgba(96, 96, 96, .1)
}